* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    color: white;
    background: linear-gradient(180deg, #a0d8ff, #ffffff);
    color: #0d1b2a;
}

/* Canvas სტილი */
canvas#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Top buttons */
.top-buttons {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 10;
}

.fancy-btn {
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, #b388ff, #7b2fff, #b388ff);
    background-size: 300%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 6px 20px white;
    animation: gradientMove 3s infinite linear;
    transition: transform 0.2s;
}

.fancy-btn:hover {
    transform: scale(1.1);
}

/* Card */
.card {
    background: gray; /* შავი/საშუალო სქელი ფონი */
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    color: white;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    width: 380px;
}

.card h2 {
    margin-bottom: 15px;
    font-size: 24px;
}

.card p {
    margin-bottom: 20px;
    font-size: 16px;
}

.card-btn {
    padding: 10px 25px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background: linear-gradient(90deg, #7b2fff, #b388ff, #7b2fff);
    background-size: 300%;
    color: white;
    animation: gradientMove 3s infinite linear;
    box-shadow: 0 6px 15px white;
}

.card-btn:hover {
    transform: scale(1.05);
}

.footer {
  position: absolute;
  bottom: 30px;
  font-size: 20px;
  font-weight: 600;
  color: #008cff;
  text-shadow: 0 0 15px rgba(0,140,255,0.3);
}

/* Gradient animation */
@keyframes gradientMove {
    0% {background-position: 0%;}
    100% {background-position: 100%;}
}
